Repository wangxiaoxuan273/local-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, addcopyright

bicep-lint:
  name: bicep file linter
  entry: make bicep-lint
  language: system
  pass_filenames: false

addcopyright:
  name: Add copyright header
  entry: make add-copyright
  language: system
  pass_filenames: false

chore: use kube-system as default namespace
  Makefile
  config/default/kustomization.yaml
  deploy/scripts/arc-install.sh
  docs/troubleshooting.md
  docs/user-guide.md
  test/aks/aks.go
  test/config/support-bundle.yaml
  test/e2e/e2e_suite_test.go
  test/external/external_suite_test.go
  test/pkg/common/common.go
  test/sanity/fixtures/socat-patch.yaml
  test/sanity/sanity_suite_test.go
Due: addcopyright

chore: fix helm uninstall & restrict log collection
  Makefile
  test/config/support-bundle.yaml
Due: none

chore: update ref to helm value
  docs/design/webhooks.md
Due: none

chore: remove kustomize
  Makefile
  config/crd/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  config/csi-driver/daemonset.yaml
  config/csi-driver/kustomization.yaml
  config/default/controller_metrics_patch.yaml
  config/default/controller_webhook_patch.yaml
  config/default/kustomization.yaml
  config/default/metrics_service.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/network-policy/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/webhook/hyperconverged/kustomization.yaml
  config/webhook/hyperconverged/manifests.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/pvc/kustomization.yaml
  config/webhook/pvc/manifests.yaml
  config/webhook/service.yaml
  test/pkg/common/common.go
Due: addcopyright

chore: fix webhook integration tests
  charts/latest/templates/webhook-config-ephemeral.yaml
  internal/webhook/hyperconverged/suite_test.go
  internal/webhook/pvc/suite_test.go
Due: addcopyright

fix: linter errors
  internal/webhook/hyperconverged/suite_test.go
  internal/webhook/pvc/suite_test.go
Due: addcopyright

refactor: remove controller-gen
  Makefile
  cmd/main.go
  deploy/template/cluster.bicep
  docs/development.md
  hack/boilerplate.go.txt
  internal/csi/controller/controller.go
  internal/csi/server/controller.go
  internal/webhook/hyperconverged/suite_test.go
  internal/webhook/pvc/suite_test.go
  test/e2e/e2e_test.go
  test/pkg/common/common.go
  test/scale/scale.go
Due: bicep-lint, addcopyright

refactor: don't use helm release name in k8s object names
  Makefile
  charts/latest/templates/certificate-rbac.yaml
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/metrics-auth-rbac.yaml
  charts/latest/templates/metrics-reader-rbac.yaml
  charts/latest/templates/node-rbac.yaml
  charts/latest/templates/serviceaccount.yaml
  charts/latest/templates/webhook-config-ephemeral.yaml
  charts/latest/templates/webhook-config-hyperconverged.yaml
  charts/latest/templates/webhook-service.yaml
  charts/latest/templates/webhoot-cert.yaml
  charts/latest/values.yaml
  docs/troubleshooting.md
  test/pkg/common/common.go
Due: addcopyright

fix: test fixes
  charts/latest/templates/webhook-service.yaml
  docs/troubleshooting.md
  docs/user-guide.md
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/pkg/common/common.go
  test/sanity/sanity_suite_test.go
Due: addcopyright

fix: fix GetCapacity call when no disks are available
  internal/csi/core/lvm/controller.go
  internal/csi/core/lvm/controller_test.go
Due: addcopyright

refactor: helm values refactoring
  charts/latest/templates/daemonset.yaml
  charts/latest/values.yaml
  cmd/main.go
  test/sanity/fixtures/socat-patch.yaml
Due: addcopyright

build(gomod): update utils, go version, and remove unneeded replace
  go.mod
  go.sum
Due: none

refactor: move docker and helm build into template, update repos to reflect naming changes
  .github/workflows/docker-build-template.yml
  .github/workflows/helm-build-template.yml
  .github/workflows/push-tag.yml
  .github/workflows/test-e2e.yml
  Makefile
Due: none

fix: set tracing to no-op if not set in values
  charts/latest/values.yaml
  cmd/main.go
  internal/pkg/telemetry/otel.go
  internal/pkg/telemetry/otel_test.go
Due: addcopyright

ci: fix latest tag parsing error on main
  .github/workflows/test-e2e.yml
Due: none

chore: add pv cleanup design doc
  docs/design/pv-cleanup.md
  docs/design/webhooks.md
Due: none

ci: fix tags format for multiple tags in docker build
  .github/workflows/docker-build-template.yml
Due: none

build(gomod): update k8s staging repo replace for 0.33.2 (#68)
  go.mod
  go.sum
Due: none

fix(chart): default drive image should use .Chart.Version, default to ACR (#70)
  charts/latest/Chart.yaml
  charts/latest/templates/daemonset.yaml
  charts/latest/values.yaml
  docs/user-guide.md
Due: none

ci(precommit): add kubeconform linter for helm chart (#71)
  .pre-commit-config.yaml
  Makefile
Due: none

chore: helm chart docs (#72)
  Makefile
  README.md
  charts/latest/README.md
  charts/latest/templates/NOTES.txt
  charts/latest/templates/daemonset.yaml
  charts/latest/values.yaml
  docs/design/webhooks.md
  docs/user-guide.md
Due: none

chore: update code owners (#69)
  .github/CODEOWNERS
Due: none

fix: return correct error code to enable pod rescheduling through capacity tracking (#62)
  internal/pkg/lvm/lvm.go
Due: addcopyright

fix: make webhook port configurable (#73)
  charts/latest/README.md
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/webhook-service.yaml
  charts/latest/values.yaml
  cmd/main.go
Due: addcopyright

fix: non-aligned pv sizes failed to provision (#77)
  internal/csi/controller/controller.go
  internal/csi/controller/controller_test.go
  internal/csi/core/fake.go
  internal/csi/core/interfaces.go
  internal/csi/core/lvm/controller.go
  internal/csi/core/lvm/controller_test.go
  internal/csi/core/lvm/lvm.go
  internal/csi/core/lvm/lvm_test.go
  internal/csi/core/lvm/node.go
  internal/csi/node/node.go
  internal/csi/node/node_test.go
  internal/pkg/lvm/fake.go
  internal/pkg/probe/fake.go
  internal/pkg/sys/utils.go
Due: addcopyright

feat: remove azure from provisioner name (#81)
  charts/latest/templates/NOTES.txt
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/webhook-config-ephemeral.yaml
  charts/latest/templates/webhook-config-hyperconverged.yaml
  docs/design/disk-selection.md
  docs/design/webhooks.md
  docs/development.md
  docs/fixing-cve.md
  docs/troubleshooting.md
  docs/user-guide.md
  examples/nvme/storageclass.yaml
  internal/csi/controller/controller.go
  internal/csi/controller/controller_test.go
  internal/csi/core/lvm/controller_test.go
  internal/csi/core/lvm/lvm.go
  internal/csi/driver.go
  internal/csi/mounter/mounter.go
  internal/csi/node/node.go
  internal/csi/node/node_test.go
  internal/pkg/lvm/lvm.go
  internal/pkg/lvm/options.go
  internal/webhook/hyperconverged/suite_test.go
  internal/webhook/pvc/README.md
  internal/webhook/pvc/handler.go
  internal/webhook/pvc/handler_test.go
  internal/webhook/pvc/suite_test.go
  test/README.md
  test/aks/aks.go
  test/external/drivers/lvm.yaml
  test/external/drivers/lvm_storageclass.yaml
  test/external/fixtures/pvc_annotator.yaml
  test/pkg/common/fixtures/lvm_annotation_statefulset.yaml
  test/pkg/common/fixtures/lvm_pvc_annotation.yaml
  test/pkg/common/fixtures/lvm_storageclass.yaml
  test/sanity/sanity_test.go
Due: addcopyright

build: change go build to FIPS compliant build (#74)
  .github/workflows/docker-build-template.yml
  Dockerfile
  Makefile
Due: none

chore: add metrics option in helm chart (#85)
  charts/latest/README.md
  charts/latest/templates/metrics-auth-rbac.yaml
  charts/latest/templates/metrics-reader-rbac.yaml
  charts/latest/templates/node-rbac.yaml
  charts/latest/values.yaml
Due: none

chore: make docker image start with v to reflect release tags (#86)
  .github/workflows/push-tag.yml
  .github/workflows/test-e2e.yml
  Makefile
  charts/latest/templates/daemonset.yaml
  hack/fix-helm-chart.sh
Due: addcopyright

chore: update install docs and remove obsolete tracing package (#90)
  Makefile
  charts/latest/README.md
  docs/user-guide.md
  internal/csi/controller/controller_test.go
  internal/csi/core/lvm/controller_test.go
  internal/csi/core/lvm/lvm_test.go
  internal/csi/driver_test.go
  internal/csi/mounter/mounter_test.go
  internal/csi/node/node_test.go
  internal/pkg/lvm/lvm.go
  internal/pkg/telemetry/otel.go
  internal/pkg/tracing/provider.go
Due: addcopyright

chore: update statefulsets to properly create date, add annotation example to top-level examples (#89)
  docs/user-guide.md
  examples/nvme/statefulset.yaml
  examples/nvme/statefulset_annotation.yaml
  internal/csi/server/endpoint_test.go
  internal/webhook/pvc/README.md
  test/aks/aks.go
  test/external/external_suite_test.go
  test/pkg/common/fixtures/lvm_pod_annotation.yaml
  test/pkg/common/fixtures/lvm_statefulset.yaml
  test/sanity/sanity_test.go
  test/scale/fixtures/ephemeral_statefulset.yaml
Due: addcopyright

chore: remove localdisk.csi.acstor.io/vg as storageclass/CreateVolume parameter (#97)
  .pre-commit-config.yaml
  charts/latest/templates/NOTES.txt
  docs/design/disk-selection.md
  docs/user-guide.md
  examples/nvme/storageclass.yaml
  internal/csi/core/lvm/controller.go
  internal/csi/core/lvm/controller_test.go
  internal/csi/core/lvm/lvm.go
  test/external/drivers/lvm_storageclass.yaml
  test/pkg/common/fixtures/lvm_storageclass.yaml
  test/sanity/id.go
  test/sanity/sanity_test.go
Due: addcopyright

build: update go version to 1.24.5 (#102)
  go.mod
Due: none

chore: add event when provisioning a new empty volume during mount (#105)
  internal/csi/core/lvm/controller.go
  internal/csi/core/lvm/lvm.go
  internal/csi/core/lvm/lvm_test.go
  internal/csi/core/lvm/node.go
Due: addcopyright

chore: add component label to daemonset (#107)
  charts/latest/templates/daemonset.yaml
Due: none

Fail gracefully when nvme disks are in use (#98)
  cmd/main.go
  internal/csi/core/lvm/controller.go
  internal/csi/core/lvm/controller_test.go
  internal/csi/core/lvm/lvm.go
  internal/csi/core/lvm/lvm_test.go
  internal/pkg/block/block.go
  internal/pkg/block/mock_block.go
  internal/pkg/lvm/lvm.go
  internal/pkg/lvm/options.go
  internal/pkg/probe/fake.go
  internal/pkg/probe/mock_probe.go
  internal/pkg/probe/probe.go
  internal/pkg/sys/utils.go
Due: addcopyright

build(gomod): update replaces staging repo version to v0.33.3 (#114)
  go.mod
  go.sum
Due: none

fix: make pod owner of csistoragecapacity objects so they get cleaned up when node is deleted (#115)
  charts/latest/templates/daemonset.yaml
Due: none

fix: rotator should not cause restart after refreshing certs (#118)
  cmd/main.go
Due: addcopyright

fix: return actual PV size on allocation (#116)
  internal/csi/core/lvm/controller.go
  internal/csi/core/lvm/controller_test.go
  internal/csi/core/lvm/lvm.go
  internal/csi/core/lvm/lvm_test.go
  internal/csi/core/lvm/node.go
  internal/pkg/lvm/fake.go
  internal/pkg/lvm/lvm.go
  internal/pkg/lvm/lvm_test.go
  internal/pkg/lvm/manager.go
  internal/pkg/lvm/mock.go
  internal/pkg/lvm/unsupported.go
Due: addcopyright

Path conditions:
  bicep-lint: any of: ^.*\.bicep$
  addcopyright: any of: ^.*\.(go|sh|mk|py)$
