Repository wangxiaoxuan273/local-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-lint, bicep-lint, markdownlint, addcopyright

docker-lint:
  name: Dockerfile linter
  entry: make docker-lint
  language: system
  pass_filenames: false

bicep-lint:
  name: bicep file linter
  entry: make bicep-lint
  language: system
  pass_filenames: false

markdownlint:
  name: Markdown linter
  entry: make run-markdownlint
  language: system
  pass_filenames: false

addcopyright:
  name: Add copyright header
  entry: make add-copyright
  language: system
  pass_filenames: false

chore: update pipelines
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/test-e2e.yml
  .github/workflows/trivy.yml
  .npmrc
  .pre-commit-config.yaml
  Makefile
Due: none

feat: add issue template for admin access
  .codespellrc
  .github/ISSUE_TEMPLATE/jit-access.yml
  .github/policies/jit.yml
Due: none

Revert "feat: add issue template for admin access"
  .codespellrc
  .github/ISSUE_TEMPLATE/jit-access.yml
  .github/policies/jit.yml
Due: none

fix: verbosity flag should work with logr
  cmd/main.go
  internal/csi/controller/controller.go
  internal/csi/mounter/mounter.go
  internal/csi/server/combined.go
  internal/csi/server/controller.go
  internal/csi/server/node.go
  internal/pkg/tracing/provider.go
Due: addcopyright

feat: add e2e test pipeline
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/devskim.yml
  .github/workflows/lint.yml
  .github/workflows/scripts/requirements.txt
  .github/workflows/scripts/run_tests.py
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  .github/workflows/trivy.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  config/csi-driver/daemonset.yaml
  deploy/scripts/clean.sh
  deploy/scripts/create.sh
  deploy/template/cleanupRoleAssignment.bicep
  deploy/template/cluster.bicep
  deploy/template/main.bicep
  docs/user-guide.md
  hack/add_copyright.sh
  test/config/support-bundle.yaml
Due: bicep-lint, markdownlint, addcopyright

chore: secure pip install, retry kyverno install, remove check:write from workload
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/linter-requirements.in
  .github/workflows/linter-requirements.txt
  .github/workflows/scripts/requirements.txt
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  test/external/external_test.go
Due: addcopyright

fix: use community kyverno images to fix version mismatch
  Makefile
  deploy/values/kyverno.yaml
  test/external/external_test.go
  test/pkg/common/common.go
  test/pkg/flakes/flakes.go
  test/pkg/utils/utils.go
Due: addcopyright

chore: fix linter install to binary build, add debug info from pre-commit
  .github/workflows/lint.yml
  Makefile
Due: none

chore: remove refs to subscription and cloudtest
  .github/workflows/scripts/run_tests.py
  .github/workflows/test-e2e.yml
  .gitignore
  .markdownlintignore
  Makefile
  test/e2e/e2e_suite_test.go
  test/external/external_suite_test.go
  test/pkg/common/common.go
  test/pkg/summary/summary.go
  test/sanity/sanity_suite_test.go
Due: addcopyright

chore: add CODEOWNERS, tag to latest
  .github/CODEOWNERS
  .github/workflows/test-e2e.yml
  .ownersignore
  owners.txt
Due: none

chore: remove helmify
  Makefile
  charts/latest/.helmignore
  charts/latest/Chart.yaml
  charts/latest/templates/cluster-manager-metrics-monitor.yaml
  charts/latest/templates/daemonset.yaml
  charts/latest/values.yaml
  go.mod
  go.sum
  hack/fix-helm-chart.sh
  test/e2e/e2e_suite_test.go
  test/external/external_suite_test.go
  test/pkg/common/common.go
  test/sanity/sanity_suite_test.go
Due: addcopyright

Remove dry-run
  .github/workflows/test-e2e.yml
Due: none

Fix review comments
  .gitignore
  Makefile
  charts/latest/values.yaml
Due: none

chore: add open source attribution notice
  NOTICE.md
Due: markdownlint

feat(pipeline): add CG pipeline
  .pipelines/component-governance-detection.yaml
Due: none

feat: remove cert-manager dependency
  Makefile
  charts/latest/templates/certificate-rbac.yaml
  charts/latest/templates/hyperconverged-webhook.yaml
  charts/latest/templates/node-rbac.yaml
  charts/latest/templates/pvc-create-webhook.yaml
  charts/latest/templates/selfsigned-issuer.yaml
  charts/latest/templates/serving-cert.yaml
  charts/latest/values.yaml
  cmd/main.go
  config/certmanager/certificate-metrics.yaml
  config/certmanager/certificate-webhook.yaml
  config/certmanager/certificate.yaml
  config/certmanager/issuer.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/default/certmanager_metrics_controller_patch.yaml
  config/default/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/prometheus/monitor_tls_patch.yaml
  docs/development.md
  docs/user-guide.md
  go.mod
  go.sum
  test/README.md
  test/e2e/e2e_test.go
  test/pkg/common/common.go
  test/pkg/common/fixtures/fake_cert.yaml
  test/pkg/utils/utils.go
Due: markdownlint, addcopyright

review comments
  cmd/main.go
Due: addcopyright

fix e2e install
  .github/workflows/scripts/run_tests.py
  test/pkg/common/common.go
Due: addcopyright

collect support bundle when setup fails
  test/pkg/common/common.go
Due: addcopyright

Add missing cert secret
  charts/latest/templates/webhoot-cert.yaml
Due: none

fix e2e tests
  charts/latest/templates/node-rbac.yaml
  cmd/main.go
  internal/csi/core/lvm/lvm.go
  internal/csi/server/combined.go
  internal/csi/server/controller.go
  internal/csi/server/node.go
  internal/pkg/telemetry/otel.go
Due: addcopyright

configurable webhook service and config names
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/webhook-config-ephemeral.yaml
  charts/latest/templates/webhook-config-hyperconverged.yaml
  charts/latest/templates/webhoot-cert.yaml
  cmd/main.go
  test/e2e/e2e_test.go
Due: addcopyright

ci(dependabot): update dependabot configuration to group changes together
  .github/dependabot.yml
Due: none

Remove unused config params
  .github/workflows/scripts/run_tests.py
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/latest/templates/certificate-rbac.yaml
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/webhook-config-ephemeral.yaml
  charts/latest/templates/webhook-config-hyperconverged.yaml
  charts/latest/templates/webhook-service.yaml
  charts/latest/templates/webhoot-cert.yaml
  charts/latest/values.yaml
  cmd/main.go
  internal/pkg/config/defaults.go
  test/pkg/common/common.go
Due: addcopyright

fix(dockerfile): arm64 test and dockerfile and target is not build platform
  .github/workflows/test-e2e.yml
  Dockerfile
  Makefile
  charts/latest/templates/daemonset.yaml
  deploy/parameters/nvme-arm.json
  examples/nvme/statefulset.yaml
Due: none

remove unused helm values
  charts/latest/values.yaml
  cmd/main.go
  test/pkg/common/common.go
Due: addcopyright

Skip gocyclo linter for main()
  cmd/main.go
Due: addcopyright

fix: change service reference to reference correct service name
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/webhook-config-ephemeral.yaml
  charts/latest/templates/webhook-config-hyperconverged.yaml
  cmd/main.go
  hack/cleanup_leaked_resources.sh
Due: addcopyright

test(webhook): add test for hyperconverged and ephemeral pvc webhook
  .github/workflows/scripts/run_tests.py
  test/e2e/e2e_suite_test.go
  test/e2e/lvm_pvc_immediate_test.go
  test/e2e/lvm_pvc_wait_test.go
  test/e2e/lvm_storagepool_test.go
  test/pkg/common/common.go
  test/pkg/common/fixture.go
  test/pkg/common/fixtures/log_analytics_config.yaml
  test/pkg/common/fixtures/lvm_pod_annotation.yaml
  test/pkg/common/fixtures/lvm_pvc_annotation.yaml
  test/pkg/common/fixtures/lvm_pvc_no_annotation.yaml
Due: addcopyright

Downgrade otelgrpc for compatibility
  go.mod
  go.sum
Due: none

feat: allow disabling webhooks
  charts/latest/templates/daemonset.yaml
Due: none

chore: remove unused metrics service
  charts/latest/templates/cluster-manager-metrics-monitor.yaml
  charts/latest/templates/cluster-manager-metrics-service.yaml
  charts/latest/values.yaml
Due: none

chore: simplify webhook helm config
  charts/latest/templates/certificate-rbac.yaml
  charts/latest/templates/daemonset.yaml
  charts/latest/templates/webhook-config-ephemeral.yaml
  charts/latest/templates/webhook-config-hyperconverged.yaml
  charts/latest/templates/webhook-service.yaml
  charts/latest/templates/webhoot-cert.yaml
  charts/latest/values.yaml
Due: none

chore: remove cluster config
  Dockerfile
  Makefile
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/latest/templates/cluster-config.yaml
  charts/latest/templates/daemonset.yaml
  charts/latest/values.yaml
  cmd/main.go
  config/csi-driver/cluster.yaml
  config/csi-driver/daemonset.yaml
  config/csi-driver/kustomization.yaml
  internal/pkg/config/config.go
  internal/pkg/config/defaults.go
  test/scale/scale.go
Due: addcopyright

test: add get storageclass after create to make sure it is available for webhook
  internal/webhook/pvc/handler_test.go
Due: addcopyright

ci: push tag to ACR when tag is pushed
  .github/workflows/push-tag.yml
  .github/workflows/test-e2e.yml
  Dockerfile
  internal/pkg/version/version.go
  internal/pkg/version/version_test.go
Due: addcopyright

ci: add python and actions to codeql
  .github/workflows/codeql.yml
Due: none

chore: adding documentation for webhooks
  README.md
  cmd/main.go
  docs/design/webhooks.md
Due: markdownlint, addcopyright

fix: typo
  docs/design/webhooks.md
Due: markdownlint

build(gomod): hold back go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc and ignore update in dependabot
  .github/dependabot.yml
  go.mod
  go.sum
Due: none

Path conditions:
  docker-lint: any of: ^Dockerfile\..*$
  bicep-lint: any of: ^.*\.bicep$
  markdownlint: any of: ^.*\.md$
  addcopyright: any of: ^.*\.(go|sh|mk|py)$
